header {

    background-image: url("../img/tony-lee-8IKf54pc3qk-unsplash.jpg");
    width: 100vw;
    height: 46.875vw;
    background-size: cover;
    position: relative;

    h1 {
        font-family: Arial;
        font-weight: bold;
        font-size: 8.984375vw;
        text-align: left;
        color: #fff;
        position: absolute;
        top: 18.4375vw;
        left: 31.796875vw;
    }

    nav ul li {
        font-family: Meiryo;
        font-weight: bold;
        font-size: 1.125vw;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.16);
    }

    .nav_menu {
        position: absolute;
        top: 1.5625vw;
        right: 17.421875vw;
    }

    .nav_about {
        position: absolute;
        top: 1.5625vw;
        right: 11.328125vw;
    }

    .nav_location {
        position: absolute;
        top: 1.5625vw;
        right: 3.4375vw;
    }

    a {
        transition: color 1s;

        &:hover {
            color: red;

        }
    }


}