@mixin sp {
    @media(max-width: 767px) {
        @content;
    }
}

.menu {

    .menu_parallax {
        height: 23.4375vw;
        background-image: url("../img/nathan-dumlao-KixfBEdyp64-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        content: "";
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        @include sp {
            height: 25.066666666666667vw;
        }

        h2 {
            font-family: Arial;
            font-weight: bold;
            font-size: 5.625vw;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            @include sp {
                font-size: 8.533333333333333vw;
            }
        }
    }

    .menu_list_area {
        height: 69.21875vw;
        background-color: #fff;
        display: flex;
        margin-top: 7.5vw;

        @include sp {
            height: auto;
            display: block;
            margin-bottom: 29.866666666666667vw;
        }

        .coffee_menu {

            text-align: center;
            padding-left: 16.484375vw;
            padding-right: 3.8671875vw;
            border-right: 1px solid #333;
            height: 50.5078125vw;

            @include sp {
                padding-left: 4.266666666666667vw;
                padding-right: 4.266666666666667vw;
                border-right: none;
                height: auto;
            }

            h3 {
                font-family: Arial;
                font-weight: bold;
                font-size: 3.125vw;
                color: #000;
                background: linear-gradient(transparent 85%, #e03131 85%);
                padding-bottom: 1.328125vw;
                display: inline-block;

                @include sp {
                    font-size: 5.333333333333333vw;
                }
            }

            .menu_list_left {
                margin-top: 5.78125vw;
                text-align: left;

                @include sp {
                    margin-top: 7.733333333333333vw;
                }
            }

            .menu_name_price {
                display: flex;
            }

            .menu_dotted {
                border-bottom: dotted 1px #000;
                width: 26.640625vw;
                padding-bottom: 0.4296875vw;
                margin-bottom: 2.3828125vw;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;

                @include sp {
                    width: 90.4vw;
                    font-size: 3.84vw;
                }
            }

            .menu_price {
                margin-top: 3px;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;

                @include sp {
                    font-size: 3.84vw;
                }
            }
        }
        
        .food_other_menu {

            text-align: center;
            padding-left: 3.5546875vw;
            padding-right: 15.3125vw;

            @include sp {
                padding-left: 4.266666666666667vw;
                padding-right: 4.266666666666667vw;
                margin-top: 10.933333333333333vw;
            }

            h3 {
                font-family: Arial;
                font-weight: bold;
                font-size: 3.125vw;
                color: #000;
                background: linear-gradient(transparent 85%, #e03131 85%);
                padding-bottom: 1.328125vw;
                display: inline-block;

                @include sp {
                    font-size: 5.333333333333333vw;
                }
            }

            .menu_list_right_top {
                margin-top: 5.78125vw;
                text-align: left;

                @include sp {
                    margin-top: 7.733333333333333vw;
                }
            }

            .menu_name_price {
                display: flex;
            }

            .menu_dotted {
                border-bottom: dotted 1px #000;
                width: 26.640625vw;
                padding-bottom: 0.4296875vw;
                margin-bottom: 2.3828125vw;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;

                @include sp {
                    width: 90.4vw;
                    font-size: 3.84vw;
                }
            }

            .menu_price {
                margin-top: 3px;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;

                @include sp {
                    font-size: 3.84vw;
                }
            }

            .menu_list_right_bottom {
                margin-top: 5.78125vw;
                text-align: left;

                @include sp {
                    margin-top: 7.733333333333333vw;
                }
            }

            .other {
                margin-top: 5.15625vw;

                @include sp {
                    margin-top: 10.933333333333333vw;
                }
            }
        }
    }
}

