@mixin sp {
    @media(max-width: 767px) {
        @content;
    }
}

.menu {

    .menu_parallax {
        height: 23.4375vw;
        background-image: url("../img/nathan-dumlao-KixfBEdyp64-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        content: "";
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        h2 {
            font-family: Arial;
            font-weight: bold;
            font-size: 5.625vw;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }

    .menu_list_area {
        height: 69.21875vw;
        background-color: #fff;
        display: flex;
        margin-top: 7.5vw;

        .coffee_menu {

            h3 {
                font-family: Arial;
                font-weight: bold;
                font-size: 3.125vw;
                color: #000;
                background: linear-gradient(transparent 85%, #e03131 85%);
                padding-bottom: 1.328125vw;
                display: inline-block;
                margin-left: 25.546875vw;
            }

            .menu_list_left {
                margin-left: 16.484375vw;
                margin-top: 5.78125vw;
            }

            .menu_name_price {
                display: flex;
            }

            .menu_dotted {
                border-bottom: dotted 1px #000;
                width: 26.640625vw;
                padding-bottom: 0.4296875vw;
                margin-bottom: 2.3828125vw;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;
            }

            .menu_price {
                margin-top: 3px;
                margin-left: 1.2109375vw;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;

            }
        }

        .coffee_menu_centerline {
            width: 1px;
            height: 50.5078125vw;
            background: transparent;
            border-right: 1px solid #000;
            margin-left: 3.8671875vw;
        }
        
        .food_other_menu {

            h3 {
                font-family: Arial;
                font-weight: bold;
                font-size: 3.125vw;
                color: #000;
                background: linear-gradient(transparent 85%, #e03131 85%);
                padding-bottom: 1.328125vw;
                display: inline-block;
                margin-left: 14.1796875vw;
            }

            .menu_list_right_top {
                margin-left: 3.5546875vw;
                margin-top: 5.78125vw;
            }

            .menu_name_price {
                display: flex;
            }

            .menu_dotted {
                border-bottom: dotted 1px #000;
                width: 26.640625vw;
                padding-bottom: 0.4296875vw;
                margin-bottom: 2.3828125vw;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;
            }

            .menu_price {
                margin-top: 3px;
                margin-left: 1.2109375vw;
                font-family: Meiryo;
                font-weight: normal;
                font-size: 1.125vw;
                color: #383e45;
            }

            .menu_list_right_bottom {
                margin-left: 3.5546875vw;
                margin-top: 5.78125vw;
            }

            .other {
                margin-top: 5.15625vw;
            }
        }
    }
}

