@charset "UTF-8";
header {
  background-image: url("../img/tony-lee-8IKf54pc3qk-unsplash.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-bottom: 1.5625vw;
}
header h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 8.984375vw;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  header h1 {
    font-size: 22.5333333333vw;
  }
}
header nav ul li {
  font-family: Meiryo;
  font-weight: bold;
  font-size: 1.125vw;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.16);
  padding-right: 2.109375vw;
}
header nav ul {
  display: flex;
  justify-content: right;
  width: 100%;
  position: absolute;
  top: 1.5625vw;
  right: 3.4375vw;
}
header a {
  transition: color 1s;
}
header a:hover {
  color: red;
}

.menu .menu_parallax {
  height: 23.4375vw;
  background-image: url("../img/nathan-dumlao-KixfBEdyp64-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  content: "";
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.menu .menu_parallax h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 5.625vw;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.menu .menu_list_area {
  height: 69.21875vw;
  background-color: #fff;
  display: flex;
  margin-top: 7.5vw;
}
.menu .menu_list_area .coffee_menu h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 3.125vw;
  color: #000;
  background: linear-gradient(transparent 85%, #e03131 85%);
  padding-bottom: 1.328125vw;
  display: inline-block;
  margin-left: 25.546875vw;
}
.menu .menu_list_area .coffee_menu .menu_list_left {
  margin-left: 16.484375vw;
  margin-top: 5.78125vw;
}
.menu .menu_list_area .coffee_menu .menu_name_price {
  display: flex;
}
.menu .menu_list_area .coffee_menu .menu_dotted {
  border-bottom: dotted 1px #000;
  width: 26.640625vw;
  padding-bottom: 0.4296875vw;
  margin-bottom: 2.3828125vw;
  font-family: Meiryo;
  font-weight: normal;
  font-size: 1.125vw;
  color: #383e45;
}
.menu .menu_list_area .coffee_menu .menu_price {
  margin-top: 3px;
  margin-left: 1.2109375vw;
  font-family: Meiryo;
  font-weight: normal;
  font-size: 1.125vw;
  color: #383e45;
}
.menu .menu_list_area .coffee_menu_centerline {
  width: 1px;
  height: 50.5078125vw;
  background: transparent;
  border-right: 1px solid #000;
  margin-left: 3.8671875vw;
}
.menu .menu_list_area .food_other_menu h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 3.125vw;
  color: #000;
  background: linear-gradient(transparent 85%, #e03131 85%);
  padding-bottom: 1.328125vw;
  display: inline-block;
  margin-left: 14.1796875vw;
}
.menu .menu_list_area .food_other_menu .menu_list_right_top {
  margin-left: 3.5546875vw;
  margin-top: 5.78125vw;
}
.menu .menu_list_area .food_other_menu .menu_name_price {
  display: flex;
}
.menu .menu_list_area .food_other_menu .menu_dotted {
  border-bottom: dotted 1px #000;
  width: 26.640625vw;
  padding-bottom: 0.4296875vw;
  margin-bottom: 2.3828125vw;
  font-family: Meiryo;
  font-weight: normal;
  font-size: 1.125vw;
  color: #383e45;
}
.menu .menu_list_area .food_other_menu .menu_price {
  margin-top: 3px;
  margin-left: 1.2109375vw;
  font-family: Meiryo;
  font-weight: normal;
  font-size: 1.125vw;
  color: #383e45;
}
.menu .menu_list_area .food_other_menu .menu_list_right_bottom {
  margin-left: 3.5546875vw;
  margin-top: 5.78125vw;
}
.menu .menu_list_area .food_other_menu .other {
  margin-top: 5.15625vw;
}

body {
  font-family: "Helvetica Neue" 、 "Arial" 、 "Hiragino Sans" 、 "Hiragino Kaku Gothic ProN" 、 "Meiryo" 、sans-serif;
}/*# sourceMappingURL=style.css.map */